.box p:last-child {
	margin-bottom: 0;
}

/* Box: mod-b
------------------------------------------------------------*/

.box.mod-a {
	padding-left: 20px;
	border-left: 25px solid #F60;
}

.box.mod-a .box-title {
	margin-bottom: 8px;
	font: 400 28px/28px "Open Sans", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

/* Box: mod-c
------------------------------------------------------------*/

.box.mod-b {
	padding: 29px 20px 20px;
	background: #EEE;
}

/* Box: mod-c
------------------------------------------------------------*/

.box.mod-c .box-pre-title {
	margin-left: 6px;
	font-weight: bold;
	color: #AAA;
}

.box.mod-c .box-title {
	margin-bottom: 27px;
	font: 400 38px/38px "Open Sans", Arial, Helvetica, sans-serif;
	letter-spacing: -0.06em;
}

.box.mod-c label {
	margin-left: 6px;
	font-weight: bold;
}

.box.mod-c button {
	margin-top: 9px;
	text-transform: uppercase;
}

/* Box: box-banners
 * Extends: box
------------------------------------------------------------*/

.box.banners > .row {
	margin-left: -10px;	
	margin-bottom: 10px;
}

.box.banners [class*="span"] {
	margin-left: 10px;
	text-align: center;
}

/* Box: box-carros-novos-slider
 * Extends: box, bx-slider 
------------------------------------------------------------*/

.box.bx-slider.box-carros-novos-slider .box-title {
	margin-bottom: 9px;
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
}

.box.bx-slider.box-carros-novos-slider li {
	width: 20%;	
}

.box.bx-slider.box-carros-novos-slider li a {
	display: block;
	padding: 6px;
	border: none;	
	background: none;
	text-decoration: none;
}

.box.bx-slider.box-carros-novos-slider li a * {
	text-decoration: none;
}

.box.bx-slider.box-carros-novos-slider .title {
	margin-right: 20px;
	padding-top: 4px;
	text-align: right;
	text-transform: uppercase;
	border: none;
	font: 700 14px/18px "Open Sans", Arial, Helvetica, sans-serif;
	letter-spacing: -0.05em;
	color: #DA0F13;
}

.box.bx-slider.box-carros-novos-slider .title small {
	font-size: 11px;
	color: #333;	
}

/* Box: box-carros-promocoes-list
 * Extends: box
------------------------------------------------------------*/

.box.box-carros-promocoes-list {
	min-height: 220px;
	padding: 10px;
	background: #EEE;
	text-align: center;
}

.box.box-carros-promocoes-list .box-title {
	margin-bottom: 10px;
	padding: 10px;
	font-size: 13px;
	line-height: 18px;
	background: #FFF;
}

.box.box-carros-promocoes-list .items a {
	display: block;
	padding: 5px;
	background: #FFF;
	text-transform: uppercase;
}

.box.box-carros-promocoes-list .item {
	display: block;
	overflow: hidden;
	position: relative;
}

.box.box-carros-promocoes-list .item span {
	display: block;
}

.box.box-carros-promocoes-list .item .valor {
	position: absolute;
	left: 10px;
	right: 10px;
	margin-top: -25px;
	line-height: 25px;
	font-weight: bold;
}

.box.box-carros-promocoes-list .item .nome {
	margin-top: 5px;
	font-weight: bold;
	line-height: 25px;
}

/* Box: box-carros-busca-form
 * Extends: box, mod-b
------------------------------------------------------------*/

.box.mod-b.box-carros-busca-form {
	min-height: 220px;
	padding: 10px 80px;
}

.box.mod-b.box-carros-busca-form .box-title {
	margin: 10px 0 18px;
	font: 400 30px/30px "Open Sans", Arial, Helvetica, sans-serif;
	color: #444;
	letter-spacing: -0.03em;
	text-transform: uppercase;
}

.box.mod-b.box-carros-busca-form .box-title small {
	margin-top: 10px;
	display: block;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	letter-spacing: 0.03em;
	color: #666;
}

.box.mod-b.box-carros-busca-form form {
	margin-bottom: 0;
}

.box.mod-b.box-carros-busca-form select {
	width: 100%;
	background-color: #EEE;
	font-weight: bold;
}

.box.mod-b.box-carros-busca-form select:hover,
.box.mod-b.box-carros-busca-form select:focus {
	background-color: #FFF;
}

/* Box: test-drive-form
------------------------------------------------------------*/

.box.test-drive-form {
	padding: 0 20px;
}

.box.test-drive-form .box-title {
	margin: 0 0 9px;
	font: 400 30px/30px "Open Sans", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #444;
}

.box.test-drive-form form {
	padding-right: 30px;
}

.box.test-drive-form input {
	width: 100%;
	font-weight: bold;
	margin-bottom: 12px;
}

.box.test-drive-form input {
	min-height: 28px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

.box.test-drive-form .alert,
.box.test-drive-form .alert p {
	padding-right: 14px;
	font-size: 11px;
	line-height: 16px;
}

.box.test-drive-form .alert ul {
	margin-left: 15px;
}