/* Action: novos
------------------------------------------------------------*/

.novos .entry .list-view .item {
	display: inline-block;
	width: 188px;
	margin: 0 0 15px;
	text-align: center;
}

.novos .entry .list-view * {
	text-decoration: none;
}

.novos .entry .list-view .item .title {
	margin-right: 30px;
	text-align: right;
	text-transform: uppercase;
	border: none;
	font: 700 15px/20px "Open Sans", Arial, Helvetica, sans-serif;
	letter-spacing: -0.05em;
	color: #DA0F13;
}

.novos .entry .list-view .title small {
	font-size: 12px;
	color: #333;	
}

.novos #carros-novos-iframe {
	position: absolute;
	left: 0;
	right: 0;
	top: 20%;
	width: 100%;
	min-width: 940px;
	height: 80%;
	border: none;
}

/* Detalhes do veículo
------------------------------------------------------------*/

#veiculo-detalhes {
	margin: 15px 0 30px;
	padding: 10px;
	border: 1px solid #DDD;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

#veiculo-detalhes .gallery > div {
	background: #EEE;
	padding: 0 0 5px !important;
}

#veiculo-detalhes .gallery img {
	max-width: none;
}

#veiculo-detalhes table {
	margin-bottom: 18px;
}

#veiculo-detalhes table tbody th {
	padding-right: 5px;
	padding-left: 15px;
	text-align: right;
}

#veiculo-detalhes .valor {
	color: #F00;
	font-weight: bold;	
}

/* Grid de veículos
------------------------------------------------------------*/

#veiculo-grid {
	margin-top: 0;
}

#veiculo-grid table {
	border-collapse: separate;
	border-spacing: 0 10px;
}

#veiculo-grid table thead th {
	padding: 70px 0 10px;
	background: #FFF url(../images/icons-veiculo.png) no-repeat center 80px;	
	vertical-align: bottom;
	text-align: center;
	border-bottom: 1px solid #DDD;
	color: #AAA;
}

#veiculo-grid table thead th.portas {
	background: url(../images/icons-veiculo.png) no-repeat center 0;	
}

#veiculo-grid table thead th.cor {
	background: url(../images/icons-veiculo.png) no-repeat center -80px;	
}

#veiculo-grid table thead th.marca {
	background: url(../images/icons-veiculo.png) no-repeat center -160px;	
}

#veiculo-grid table thead th.ano {
	background: url(../images/icons-veiculo.png) no-repeat center -240px;	
}

#veiculo-grid table thead th.acessorios {
	background: url(../images/icons-veiculo.png) no-repeat center -400px;	
}

#veiculo-grid table thead th.valor {
	background: url(../images/icons-veiculo.png) no-repeat center -320px;	
}

#veiculo-grid table tbody td {
	vertical-align: middle;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	font-weight: bold;
	cursor: pointer;
	background-color: #FFF;
}

#veiculo-grid table tbody tr:hover td {
	border-color: #CCC;
}

#veiculo-grid table tbody td:first-child {
	border-left: 1px solid #DDD;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

#veiculo-grid table tbody td:last-child {
	border-right: 1px solid #DDD;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-topright: 6px;
	-moz-border-radius-bottomright: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

#veiculo-grid table tbody td > span {
	display: block;
	border-left: 1px solid #DDD;
	text-align: center;
}

#veiculo-grid table tbody td > span:first-child {
	border: none;
}

#veiculo-grid table tbody td.nome {
	font-weight: normal;
}

#veiculo-grid table tbody td.nome > a {
	font-weight: bold;
	color: #888;
	text-decoration: none;
}

#veiculo-grid table thead th.img {
	text-align: left;
}

#veiculo-grid table tbody td.img {
	width: 120px;	
}

#veiculo-grid table tbody td.img img {
	width: 100%;	
}

#veiculo-grid table tbody td.acessorios {
	width: 200px;
}

#veiculo-grid table tbody td.valor {
	color: #F00;
	font-weight: bold;	
}

#veiculo-grid table tbody td.valor .label {
	margin: 6px 10px 0;
}

/* Diversos
------------------------------------------------------------*/

.button-help {
	margin-bottom: 30px;
	padding: 10px 15px 15px;
	width: 220px;	
}

.button-help img {
	float: left;
	margin-right: 15px;
}

.button-help span {
	display: block;
	font-weight: normal;
}
