/* Action: quemSomos
------------------------------------------------------------*/

.quemsomos .entry .page-content .col2 > img {
	margin-left: 7%;
	margin-bottom: 15px;	
}

.quemsomos .empresas {
	margin-top: 20px;
	text-align: center;
	border-top: 1px solid #CCC;
}

.quemsomos .empresas h3 {
	margin: 35px 0 35px;
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 600;
}

.quemsomos .empresas img {
	padding: 8px;
	border: 1px solid #CCC;	
}

.quemsomos .empresas p {
	margin-bottom: 8px;
	line-height: 30px;
}

/* Action: equipeVendas
------------------------------------------------------------*/

.equipevendas .entry .page-content > p {
	margin-right: 30%;	
}

.equipevendas .entry .item {
	display: inline-block;
	width: 50%;
	margin-top: 20px;
}

.equipevendas .entry .item img {
	max-width: 70%;
	padding: 5px 10px 0;
	border-bottom: 1px solid #CCC;
	background: #EEE;
}

.equipevendas .entry .item h5 {
	margin-top: 15px;
	margin-bottom: 0;
}

.equipevendas .entry .item h5 {
	margin-top: 5px;
	margin-bottom: 0;
}

.equipevendas .entry .item .btn {
	margin-top: 10px;
	font-weight: bold;
}

.equipevendas .entry .item .icon-chat {
	background: url(../images/icon-chat-small.png);
}

/* Action: faleCom
------------------------------------------------------------*/

.falecom .page-content img {
	max-width: 80%;
	padding: 15px 25px 0;
	border-bottom: 1px solid #CCC;
	background: #EEE;
}

.falecom .page-content h5 {
	font: 400 22px/30px "Open Sans", Arial, Helvetica, sans-serif;
}

.falecom form label {
	margin-left: 6px;
	font-weight: bold;
}

.falecom .help-block {
	margin-left: 6px;	
}

/* Action: galeria
------------------------------------------------------------*/

.galeria .list-view .title {
	margin-bottom: 18px;
}

.galeria .list-view li {
	width: 20%;
	margin-bottom: 30px;
}

/* Action: lancamentos
------------------------------------------------------------*/

.lancamentos .entry .col1 .page-content {
	margin-right: 70px;
}

.lancamentos .entry .col1 .page-content .title {
	text-transform: uppercase;
	border: none;
}

.lancamentos .entry .col1 .page-content .title small {
	text-transform: none;
	font-weight: bold;
}

.lancamentos .entry .col1 .page-content img {
	display: block;
	max-width: 98%;
	margin-bottom: 18px;
}

.lancamentos .entry .col2 > .title {
	margin-bottom: 27px;
	border: none;
}

.lancamentos .entry .col2 .item {
	margin-bottom: 18px;
}

.lancamentos .entry .col2 .item .title {
	margin-left: 10px;
	padding-top: 0;
	border: none;
	text-transform: uppercase;	
}

.lancamentos .entry .col2 .item .title small {
	text-transform: none;	
}

/* Action: meioAmbiente
------------------------------------------------------------*/

.meioambiente .entry .col1 .page-content {
	margin-right: 100px;
}

.meioambiente .entry .col1 .page-content .title {
	padding-top: 0;
	text-transform: uppercase;
	border: none;
}

.meioambiente .entry .col1 .page-content .title small {
	text-transform: none;
	font-weight: bold;
}

.meioambiente .entry .col1 .page-content img {
	display: block;
	max-width: 50%;
	margin-bottom: 18px;
}

.meioambiente .entry .col2 > .title {
	margin-bottom: 20px;
	padding-top: 0;
	border: none;
	text-transform: uppercase;
}

.meioambiente .entry .col2 .items {
	margin-bottom: 27px;
}

.meioambiente .entry .col2 .item {
	margin-bottom: 18px;
}

.meioambiente .entry .col2 .item .title {
	padding-top: 0;
	border: none;
	text-transform: uppercase;	
}

.meioambiente .entry .col2 .item .title small {
	text-transform: none;	
}

/* Action: noticias
------------------------------------------------------------*/

.noticias .entry .col1 .page-content {
	margin-right: 70px;
}

.noticias .entry .col1 .page-content .title {
	text-transform: uppercase;
	border: none;
}

.noticias .entry .col1 .page-content .title small {
	text-transform: none;
	font-weight: bold;
}

.noticias .entry .col1 .page-content img {
	display: block;
	max-width: 98%;
	margin-bottom: 18px;
}

.noticias .entry .col2 > .title {
	margin-bottom: 20px;
	padding-top: 0;
	border: none;
	text-transform: uppercase;
}

.noticias .entry .col2 .items {
	margin-bottom: 27px;
}

.noticias .entry .col2 .item {
	margin-bottom: 18px;
}

.noticias .entry .col2 .item .title {
	padding-top: 0;
	border: none;
	text-transform: uppercase;	
}

.noticias .entry .col2 .item .title small {
	text-transform: none;	
}

/* Action: contato
------------------------------------------------------------*/

.contato .entry address {
	padding-left: 8px;
	margin-bottom: 30px;
}

.contato .entry address .phone {
	display: block;
	margin: 0 0 9px -8px;
	font: 400 38px/38px "Open Sans", Arial, Helvetica, sans-serif;
	letter-spacing: -0.06em;	
}

.contato .entry .mapa {
	border: 1px solid #DDD;
}

.contato .entry .mapa img {
	max-width: none;
}