/* Action: index
------------------------------------------------------------*/

.index #content {
	margin-bottom: 15px;
}

.index #banner {
	margin-top: 22px;
	min-height: 400px;
	background: url(../images/banner-home.png) repeat top left;	
}

.index #banner > .container {
	background: none;	
	min-height: 400px;
}

.index #banner .container {
	position: relative;
}

.index #banner .carros-novos-list {
	position: absolute;
	width: 400px;
	height: 70px;
	bottom: 0;
	left: 0;
	margin: 0;
	overflow: hidden;
	background-color: #F60;	
	-webkit-transition: height 0.3s ease-in-out, width 0.3s ease-in-out, opacity 1s ease-in-out;
    	 -o-transition: height 0.3s ease-in-out, width 0.3s ease-in-out, opacity 1s ease-in-out;
   	   -moz-transition: height 0.3s ease-in-out, width 0.3s ease-in-out, opacity 1s ease-in-out;
    		transition: height 0.3s ease-in-out, width 0.3s ease-in-out, opacity 1s ease-in-out;
}	

.index #banner .carros-novos-list:hover {
	width: 940px;
	height: 400px;
	background-color: #FFF;
	opacity: 0.9;
}

.index #banner .carros-novos-list > .title {
	margin: 0 0 0 30px;
	padding: 0 0 0 40px;
	font: 400 20px/70px "Open Sans", Arial, Helvetica, sans-serif;		
	letter-spacing: -0.02em;
	border: none;
	color: #FFF;
	background: url(../images/banner-carros-novos-list-title.png) no-repeat left center;	
}

.index #banner .carros-novos-list:hover > .title {
	display: none;
}

.index #banner .carros-novos-list .items {
	display: none;
	padding: 0 20px;
}

.index #banner .carros-novos-list:hover .items {
	display: block;
}	

.index #banner .carros-novos-list .item {
	display: block;
	float: left;
	width: 20%;
	height: 130px;
	text-align: center;
}

/* .box-carros-promocoes-list, .box-carros-busca-form */

.index .box-carros-promocoes-list,
.index .box-carros-busca-form {
	margin-bottom: 30px;
}

.index .box.banners {
	margin-bottom: 50px;
}

.index #banner .carros-novos-list .item a {
	display: block;
	width: 90%;
	margin: 0 5%;
	text-decoration: none;
}

.index #banner .carros-novos-list .item a * {
	text-decoration: none;
}

.index #banner .carros-novos-list .item .title {
	margin: 0 20px 0 0;
	padding: 4px 0 0;
	text-align: right;
	text-transform: uppercase;
	border: none;
	font: 700 14px/18px "Open Sans", Arial, Helvetica, sans-serif;
	letter-spacing: -0.05em;
	color: #DA0F13;
}

.index #banner .carros-novos-list .item .title small {
	font-size: 11px;
	color: #333;	
}