@import url("tools.css");
@import url("boxes.css");

html, body {
	height: 100%;
}

body {
	background: url(../images/body.png) repeat-x center 7px;
}

body, p, input, button, select, textarea {
	font-family: Arial, "Helvetica Nue", Helvetica, sans-serif;	
}

body, label, legend {
	color: #777;	
}

legend {
	font-weight: bold;
}

p, h1, h2, h3, h4, h5, h6, ul, ol, legend,
input, textarea, select, .uneditable-input {
	margin-bottom: 18px;
}

h5 {
	font-size: 13px;
}

a {
	color: #777;	
}

a:hover {
	color: #888;
}

ul {
	list-style: square;
}

hr {
	border-top-color: #DDD;
}

button,
.button {
	display: inline-block;
	padding: 5px 24px;
	background: #f60;
	color: #FFF;
	font-weight: bold;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

button:hover,
.button:hover {
	text-decoration: none;
	color: #FFF;
	background: #FC0;
}

.title, legend {
	margin: 0 0 9px;
	padding: 9px 0;
	font-size: 13px;
	line-height: 18px;
	border-bottom: 1px solid #DDD;
}

.title small {
	display: block;
	font-size: 13px;
	line-height: 18px;
}

a .title:hover {
	text-decoration: underline;
}	

#flash .alert,
#error .alert {
	padding-right: 14px;
	text-align: center;
}

#ajax-loading {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFF url(../images/icon-loading-36.gif) no-repeat fixed center;
	opacity: 0.5;
}

body.loading #ajax-loading {
	display: block;
}

.entry:before, .entry:after,
.box:before, .box:after {
	display: table;
	content: "";
}

.entry:after, .box:after {
	clear: both;
}

/* Espaçamentos
------------------------------------------------------------*/

#content {
	margin-top: 15px;
	margin-bottom: 75px;
}

.entry,
.box {
	margin: 15px 0;
}

#flash,
#error {
	margin-top: 86px;
}

#main {
	margin-top: -86px;
}

.home #main,
.home #flash,
.home #error {
	margin-top: 15px;	
}

#bottom .box {
	margin-top: 0;
	margin-bottom: 45px;
}


/* Cabeçalho
------------------------------------------------------------*/

#header {
	padding-top: 35px;
}

#header .logo {
	display: block;
}

#header .menu {
	margin: 8px 0 0 30px;
}

#header .logo-fiat {
	display: block;
	margin-top: 5px;
}

#header .menu > span {
	display: block;
	margin: 0 0 10px 3px;
	font-weight: bold;
	line-height: 28px;
	color: #999;
}

#header .menu > span .facebook {
	margin-left: 8px;
}

#header .nav > li {
	line-height: 21px;
}

#header .nav > li > a {
	margin: 0 16px 0 0;
	padding: 0;
	font: 400 21px/21px "Open Sans", Arial, "Helvetica Nue", Helvetica, sans-serif;
	letter-spacing: -0.05em;
	text-transform: uppercase;	
	color: #777;
}

#header .nav > li > a:hover,
#header .nav > .active > a, 
#header .nav > .active > a:hover,
#header .nav .open .dropdown-toggle, 
#header .nav > li.dropdown.open.active > a:hover {
	background: none;
	color: #333;	
}

#header .nav .dropdown-toggle .caret {
	margin-top: 8px;
	border-top-color: #999;
	border-bottom-color: #999;
}

#header .nav .dropdown-menu {
	min-width: 240px;
	top: 140%;
	left: -14px;
	padding: 10px 0;
	border-color: #EEE;
	border: none;
	opacity: 0.9;
}

#header .nav .dropdown-menu a {
	line-height: 22px;
	color: #777;
}

#header .nav .dropdown-menu .active > a,
#header .nav .dropdown-menu li > a:hover,
#header .nav .dropdown-menu .active > a:hover {
	background-color: #666;
	color: #FFF;	
}

/* Banner
------------------------------------------------------------*/

#banner {
	min-height: 325px;
	background: url(../images/banner.png) repeat-x 0 22px;	
}

#banner > .container {
	background: url(../images/banner-container.png) no-repeat 0 15px;	
}

#banner .carousel {
	margin: 0;
}

#banner .carousel-control {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-in-out;
    	 -o-transition: opacity 0.3s ease-in-out;
   	   -moz-transition: opacity 0.3s ease-in-out;
    		transition: opacity 0.3s ease-in-out;
}

#banner:hover .carousel-control {
	opacity: .7;
}

/* Conteúdo
------------------------------------------------------------*/

#main {
	position: relative;
}

.entry .page-header {
	margin: 0 0 40px;
	padding: 0;
	border: 0;
}

.entry .page-header h1 {
	margin: 0 0 15px;
	padding: 20px 0 19px;
	font-weight: bold;
	font-size: 13px;
	line-height: 18px;
	border-bottom: 1px solid #DDD;
}

/* Rodapé
------------------------------------------------------------*/

#footer h5 {
	margin-bottom: 4px;
	text-transform: uppercase;
}

#footer p {
	margin-bottom: 0;
}

#footer a {
	color: #999;	
}

#footer .newsletter {
	margin-bottom: 8px;
	background: #F5F5F5;	
}

#footer .newsletter .container {
	height: 56px;
	padding: 14px 0;
	background: url(../images/bottom-container.png) no-repeat 35% 0;	
}

#footer .newsletter h5,
#footer .newsletter p {
	margin-left: 70px;
}

#footer .newsletter form {
	margin: 15px 0 0 -50px;
	background: #F5F5F5;	
}

#footer .newsletter form input {
	height: 20px;
	padding-left: 8px;
	width: 176px;	
	font-size: 17px;
	line-height: 22px;
	color: #777;
	border-color: #777;	
}

#footer .newsletter form .btn {
	width: 80px;	
	margin-left: -5px;
	background: #888;
	color: #FFF;
	text-shadow: none;
	text-transform: uppercase;
	line-height: 20px;
	border-color: #777;	
}

#footer .main {
	padding: 35px 0 20px;
	background: url(../images/footer-applauso.png);	
	color: #999;	
}

#footer .main .logo {
	display: block;
	width: 180px;
}

#footer .main h5 {
	margin-bottom: 8px;
	font: 700 13px/13px "Open Sans", Arial, Helvetica, sans-serif;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #333;
}

#footer .nav {
	margin-bottom: 30px;
}

#footer .nav > li > a  {
	margin: 0;
	padding: 2px 0;
	font-size: 12px;
	line-height: 16px;
	color: #888;
}

#footer .nav > .active > a, 
#footer .nav > li > a:hover  {
	background: none;
	color: #333;
}

#footer .nav > li > a:hover  {
	color: #333;
}

#footer .nav .divider-vertical {
	height: 20px;
}

#footer .main .phone {
	margin: 8px 0 0;
	font: 700 36px/36px "Open Sans", Arial, Helvetica, sans-serif;
	letter-spacing: -0.02em;
}

#footer .main address {
	margin: 6px 0 0;
}

#footer .facebook {
	margin: -20px 0 20px;
	background-color: #FFF;
}

/* Copyright
------------------------------------------------------------*/

#copy {
	padding: 15px 0;
	color: #AAA;
}

/* Diversos
------------------------------------------------------------*/

.laranja-opacity-7 {
	background: url(../images/laranja-opacity-7.png);	
	color: #FFF;
}

.pp_gallery img {
	max-width: none;
}

.bx-slider {
	overflow: hidden;	
	padding: 0 28px;
}

.bx-slider .bx-wrapper {
	width: 100% !important;
}

.bx-slider ul {
	margin-left: 0;
}

.bx-slider ul li a,
.bx-slider ul li a:hover {
	display: block;
	padding: 4px;
	border: none;	
	background: none;
	text-decoration: none;
}

.bx-slider .bx-prev,
.bx-slider .bx-next {
	height: 100%;
	width: 24px;
	top: 0;	
}

.bx-slider .bx-prev {
	left: -28px;
	background: #FFF url(../images/arrow-prev.jpg) no-repeat center;
}

.bx-slider .bx-next {
	right: -28px;
	background: #FFF url(../images/arrow-next.jpg) no-repeat center;
}

.grid-view-loading,
.list-view-loading {
	background: none;
}

.grid-view .item,
.list-view .item {
	display: block;
}

.addthis_toolbox {
	width: 480px;
	max-height: 20px;
	overflow: hidden;
}