/* Action: agoge
------------------------------------------------------------*/

.seguros.agoge .entry .phone {
	font: 700 24px/24px "Open Sans", Arial, Helvetica, sans-serif;
	letter-spacing: -0.02em;
}

.seguros.agoge .entry .page-content .col1,
.seguros.agoge .entry .page-content .col2 {
	margin-bottom: 70px;
}

.seguros.agoge .entry .page-content .col1 p {
	margin-right: 45px;
}

.seguros.agoge .entry .page-content .col2 img {
	margin-top: -20px;
}

.seguros.agoge .entry .tipo-seguro .title {
	font: 700 24px/24px "Open Sans", Arial, Helvetica, sans-serif;
	letter-spacing: -0.05em;
	border: none;
}

.seguros.agoge .entry .tipo-seguro .title img {
	margin: -22px 4px 0 0;
}

.seguros.agoge .entry .tipo-seguro p {
	margin-right: 45px;
}
