/* Action: consorcio
------------------------------------------------------------*/

.consorcio .entry {
	margin-bottom: 60px;
}

.consorcio .entry .page-content {
	margin-right: 180px;
}

/* Action: frotista
------------------------------------------------------------*/

.frotista .entry .page-content p {
	margin-right: 30px;
}

/* Action: assistenciaTecnica
------------------------------------------------------------*/

.assistenciatecnica .entry .page-content .col1 * {
	margin-right: 30px;
}

.assistenciatecnica .entry .page-content .col2 * {
	margin-right: 10px;
}

.assistenciatecnica .box .item {
	margin-top: 20px;
}

.assistenciatecnica .box .item img {
	max-width: 70%;
	padding: 5px 10px 0;
	border-bottom: 1px solid #CCC;
	background: #EEE;
}

.assistenciatecnica .box .item h5 {
	margin-top: 15px;
	margin-bottom: 0;
}

.assistenciatecnica .box .item .btn {
	margin-top: 10px;
	font-weight: bold;
}

.assistenciatecnica .box .icon-chat {
	background: url(../images/icon-chat-small.png);
}

/* Action: agendeRevisao
------------------------------------------------------------*/

.agenderevisao .entry .item {
	margin-top: 20px;
}

.agenderevisao .entry .item img {
	max-width: 70%;
	padding: 5px 10px 0;
	border-bottom: 1px solid #CCC;
	background: #EEE;
}

.agenderevisao .entry .item h5 {
	margin-top: 15px;
	margin-bottom: 0;
}

.agenderevisao .entry .item .btn {
	margin-top: 10px;
	font-weight: bold;
}

.agenderevisao .entry .icon-chat {
	background: url(../images/icon-chat-small.png);
}

/* Action: fashion
------------------------------------------------------------*/

.fashion .entry .page-content {
	margin-right: 30%;
}

.fashion .entry .list-view .item {
	display: inline-block;
	vertical-align: top;
	width: 217px;
	margin: 0 18px 15px 0;
}

.fashion .entry .list-view .item .img {
	border: 1px solid #DDD;
	text-align: center;
}

.fashion .entry .list-view .item .title {
	float: left;
	width: 160px;
	border: none;
}

.fashion .entry .list-view .item .btn {
	float: right;
	margin-top: 9px;
}

.fashion .entry .list-view .item .btn i {
	opacity: 0.7;
}

.fashion #carros-novos-iframe {
	position: absolute;
	left: 0;
	right: 0;
	top: 20%;
	width: 100%;
	min-width: 940px;
	height: 80%;
	border: none;
}

/* Action: fashionFaleCom
------------------------------------------------------------*/

.fashionfalecom .page-content .thumbnail {
	max-width: 85%;
}

.fashionfalecom .page-content h3 {
	font: 400 28px/34px "Open Sans", Arial, Helvetica, sans-serif;
	letter-spacing: -0.05em;
}

.fashionfalecom form label {
	font-weight: bold;
}