.text-left { text-align: left; }

.text-right { text-align: right; }

.text-center { text-align: center; }

.text-upper { text-transform: uppercase; }

.no-margin-top { margin-top: 0 !important; }

.no-margin-bottom { margin-bottom: 0 !important; }

.no-margin-bottom { margin-bottom: 0 !important; }

.no-padding-top { padding-top: 0 !important; }

.pull-center { float: none; margin-right: auto; margin-left: auto; }

.addthis_toolbox .btn {
	height: 20px; 
	padding: 0 3px 0 1px;
	line-height: 18px;
	font-size: 0.87em;
	font-weight: bold;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.addthis_toolbox .btn span {
	margin: 1px 3px 0 0; 
}