html, body {
	height: 100%;	
}

body {	
	position: relative;
	padding-top: 70px;
	font-family: Arial, "Helvetica Nue", Helvetica, sans-serif;
	color: #444;
}

.alert.text-center {
	padding-right: 14px;
}

#toolbar {
	margin-bottom: 20px;
}

#toolbar .btn-toolbar {
	margin-bottom: 0;
}

#toolbar .btn-group {
	margin-bottom: 10px;
}

body.login .page-header,
body.error .page-header {
	margin-bottom: 10px;
	text-align: center;	
	border: 0;
}

body.login .page-header small {
	display: block;
	margin-top: 15px;
	font-size: 18px;
	font-weight: normal;
}

#ajax-loading {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #FFF url(../../images/admin/icon-loading-36.gif) no-repeat fixed center;
	opacity: 0.5;
}

body.loading #ajax-loading {
	display: block;
}

#footer {
	margin-top: 30px;
	padding: 30px;
	text-align: center;
	border-top: 1px solid #EEE;
	font-size: 13px;
	color: #999;
}

#footer p {
	margin-bottom: 0;
}


/* Grids
------------------------------------------------------------*/

.grid-view {
	margin-bottom: 20px;
	padding: 0;
	font-size: 13px;
}

.grid-view .table {
	margin-bottom: 0;
}

.grid-view .table-bordered {
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 1), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.grid-view .table th,
.grid-view .table td {
	vertical-align: middle;
}

.grid-view .table thead th {
	padding: 8px 4px 6px;
	text-align: center;
	vertical-align: bottom;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	background-color: #F5F5F5;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F5F5F5), to(#F1F1F1));
	background-image: -webkit-linear-gradient(top, #F5F5F5, #F1F1F1);
	background-image: -o-linear-gradient(top, #F5F5F5, #F1F1F1);
	background-image: linear-gradient(to bottom, #F5F5F5, #F1F1F1);
	background-image: -moz-linear-gradient(top, #F5F5F5, #F1F1F1);
	background-repeat: repeat-x;
}

.grid-view .table thead th a {
	color: #666;	
	font-size: 11px;
	text-transform: uppercase;
}

.grid-view .table .filters td {
	padding: 2px;
}

.grid-view .table .filters td .filter-container {
	padding: 0;
}

.grid-view .table .filters td input, 
.grid-view .table .filters td textarea, 
.grid-view .table .filters td select, 
.grid-view .table .filters td .uneditable-input {
	padding: 3px;
	width: 100%;	
	height: 26px;
	line-height: 20px;	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.grid-view .table .filters td select {
	padding-left: 0;
}

.grid-view .table tbody tr:hover td,
.grid-view .table tbody tr.selected td {
	background-color: #F5F5F5;		
}

.grid-view .table tbody td {
	cursor: pointer;	
}

.grid-view .table td.check,
.grid-view .table td.uncheck {
	text-indent: -9999px;	
}

.grid-view .table td.check,
.grid-view .table tr.selected td.check {
	width: 38px;
	background-image: url(../../images/admin/icon-check-16.png);
	background-position: center;
	background-repeat: no-repeat;
}

.grid-view .table td.img {
	width: 70px;
	text-align: center;
}

.grid-view .table td.img img {
	max-width: 60px;
	padding: 2px;
	background: #FFF;
	border: 1px solid #DDD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}

.grid-view .table td.id {
	font-size: 16px;
	font-weight: bold;
}

.grid-view .table td.id,
.grid-view .table td.data {
	width: 68px;
	text-align: center;
}

.grid-view .table td.text-center {
	text-align: center;
}

.grid-view .table td.button-column .btn-toolbar {
	margin: 0;
	text-align: center;
	white-space: nowrap;
}

.grid-view .table .empty {
	text-align: center;	
}

/* Forms
------------------------------------------------------------*/

select,
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

input, button, select, textarea {
	font-family: Arial, "Helvetica Nue", Helvetica, sans-serif;	
}

select {
	padding-right: 4px;
	padding-left: 2px;
	border-color: #CCC;
}

.form-horizontal .well {
	padding-bottom: 8px;
}

.form-horizontal .well .control-group {
	margin-bottom: 10px;
}

.form-horizontal .well .control-label {
	width: 120px;
}

.form-horizontal .well .controls {
	margin-left: 140px;
}

/* Thumbnails */

form .thumbnails .active {
	padding: 3px;
	border: 2px solid #FC0;
	background-color: #FFF;	
}

/* Upload */

form .upload {
	margin-top: 18px;
}

form .upload .table tbody td.preview {
	width: 90px; 
}

form .upload .table tbody td.preview a {
	display: block;
}

form .upload .table tbody td.start,
form .upload .table tbody td.delete {
	width: 120px;
}

/* login */

.login-form {
	margin-bottom: 20px;
	padding: 40px 39px 10px;
	background: #FFF;
	border: 1px solid #DDD;
	border-top-color: #C5C5C5;
	border-bottom-color: #BBB;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.login-form label,
.login-form .btn {
	font-size: 15px;
}

.login-form .checkbox {
	margin-top: 5px;
	margin-bottom: 15px;	
}