@media (max-width: 980px) {
	body { 
		padding-top: 0px; 
	}
	
	.grid-view {
		overflow-x: scroll;		
	}
}

@media (min-width: 1200px) {	
	.login-form {
		padding-left: 49px;
		padding-right: 49px;
	}
}

@media (max-width: 979px) and (min-width: 768px) {
	.login-form {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.form-horizontal .well .control-label {
		width: 80px;
	}
	
	.form-horizontal .well .controls {
		margin-left: 100px;
	}
}

@media (min-width: 767px) {
	.form-horizontal .no-label .controls {
		margin-left: 0;
	}	
}

@media (max-width: 480px) {
	#toolbar .btn-group {
		width: 100%;
		margin-left: 0;	
	}
	
	#toolbar .btn-group .btn {
		display: block;
	}
	
	.form-horizontal .well .control-label {
		width: auto;
	}
	
	.form-horizontal .well .controls {
		margin-left: 0;
	}
	
	.fileupload-buttonbar .btn,
	.form-actions .btn {
		width: 100%;
	}
	
	.fileupload-buttonbar .btn-success {
		width: 92.8%;
	}
}
